*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,rgb(239, 187, 217) 50%, #333 50%);            
}

.container{
    height: 450px;
    width: 330px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow: auto;
}

#input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #666;
}

#input ::placeholder{
    color: #bbb;
}

ul li{
    background: #eee;
    color: #333;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

ul .fa-check, .fa-trash{
    position: absolute;
    cursor: pointer;
}

ul .fa-check{
    right: 60px;
    color: green;
}

ul .fa-trash{
    right: 20px;
    color: #ff0033;
}

ul .cheched{
    background: lightgreen;
    text-decoration: line-through;
    transition: 2s;
}
